
.logo {
  width: 76px;
  height: 20px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
a { text-decoration: none; }

.tex {
  width: 327px;
  height: 150px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  padding: 2px;
  margin: 0;
  justify-content: space-between;
  display: flex;
  width: 50%;
}

.icon {
  justify-content: space-between;
}

.head-section {
  width: 327px;
  height: 146px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lets {
  width: 117px;
  height: 24px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.background-image {
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

.line {
  border: 1px solid #6070ff;
}

.bttn {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}

.header-section {
  height: 1px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 24px;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
}

.card_item {
  border: 1px solid rgb(241, 234, 234);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.snap {
  width: 295px;
  height: 220px;
  background: url(images/Snapshoot_Portfolio.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.spa {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
  gap: 5px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-right: 20px;
  gap: 1rem;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  justify-content: space-between;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: space-between;
}

.bac {
  width: 88px;
  height: 16px;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: space-between;
}

.main-section {
  align-items: center;
  padding-left: 10px;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 52px;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.section6 {
  width: 375px;
  height: 1000px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(241, 234, 234);
  border-radius: 10px;
  font-family: 'Poppins', Arial, sans-serif;
}

.la {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  height: 24px;
}

.fr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
  margin-bottom: 50px;
}

.dropdown {
  width: 20px;
}

.background-shapes {
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

.about {
  color: #172b4d;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

.social {
  justify-content: space-between;
  display: flex;
  width: 50%;
}

.li {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: #253858;
  padding: 10px;
}

.li img {
  margin-right: 10px;
}

.lists {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  display: inline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bttn {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 12px;
  margin: 15px 0;
}

#bttn:active {
  background: #2e3de9;
  color: #fff;
}

#bttn:hover {
  background: #525ec4;
  color: #fff;
}

.p {
  width: 295px;
  height: 76px;
  font-family: 'poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 1px;
}

.text {
  margin-top: 10px;
  margin-left: -1px;
  width: 55%;
  font-family: 'poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  float: right;
  padding-left: 5px;
}
